<div class="container-fluid customCentered">
	<h1>Forms</h1>
	<form name="userForm">
		<div class="form-group">
		  <div>
			<input type="text" class="form-control" placeholder="Username" ng-model="formData.username" required />
			<span ng-show="userForm.username.$touched">The name is required.</span>
		  </div>
		  <div>
			<input type="email" id="email" name="email" class="form-control" placeholder="Email Address" ng-model="formData.email" required />
			<span ng-show="!userForm.email.$valid && userForm.email.$dirty">Must be a valid email</span>
		  </div>
		  <div>
			<input name="password" type="password" class="form-control" placeholder="Password" ng-model="formData.password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
			<span ng-show="!userForm.password.$error.required &&  userForm.password.$error.pattern && userForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
		  </div>
		  <div>
			<input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-pattern="formData.password" required />
			<span ng-show="formData.password != formData.confirmPassword">Your passwords must match.</span>
		  </div>
		  <div>
			<button type="submit" id="create-user-button" ng-disabled="formData.password != formData.confirmPassword" ng-click="createUser()">Create User</button>
		  </div>
		</div>
	  </form>
		  

		<h1 translate="HEADLINE"></h1>

<h1>Yo2: {{ 'HEADLINE' | translate }}</h1>

<button ng-click="addMultiTranslation()">click me</button>



</div>