<div class="jumbotron text-center" id="jumboHome">
	<h1>Tax Summit</h1>
	<h2>The Challanges of a Digital World</h2>
	
	<p>{{ message }}</p>
</div>

<div class="container">
		<h1 class="text-center">A New Digital World</h1>
		<!-- Example row of columns -->
		<div class="row">
		  <div class="col-md-6">
			<h2>What is the Tax Summit?</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<img src="/assets/img/digWorld1.png" >
		</div>
		  <div class="col-md-6">
			<h2>Welcome to Lisbon! Come and join us</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<img src="/assets/img/digWorld2.png">
		</div>
		</div>
</div>

<div class="container">
	<h1 class="text-center">Take a look at our activities</h1>
	<!-- Example row of columns -->
	<div class="row">
	  <div class="col-md-4">
		<img src="/assets/img/talks.png" class="center-block">
		<h2 class="text-center">Talks</h2>
		<p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  </div>
	  <div class="col-md-4">
	    <img src="/assets/img/program.png" class="center-block">
		<h2 class="text-center">Program</h2>
		<p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	 </div>
	  <div class="col-md-4">
		<img src="/assets/img/speakers.png" class="center-block">
		<h2 class="text-center">Speakers</h2>
		<p class="text-center">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  </div>
	</div>
</div>