<div class="jumbotron" id="jumboHome">
	<div class="container-fluid customCentered">
		<div class="row">
			<div class="col-md-6">
					
					<h1>Tax Summit</h1>
					<h2>The Challanges of a <span style="font-weight: bold;">Digital World</span></h2>
			</div>
			<div class="col-md-6">
				<h3 class="text-right">Lisbon 23-25 October</h3>

				<ul id="timerCountdownList" class="text-right">
					<li><span id="timerDays_00" class="timerNumber"></span></li>
					<li><span id="timerDays_01" class="timerNumber"></span></li>
					<li><span id="timerDays_02" class="timerNumber"></span></li><span class="timerDots">:</span>
					<li><span id="timerHours_00" class="timerNumber"></span></li>
					<li><span id="timerHours_01" class="timerNumber"></span></li><span class="timerDots">:</span>
					<li><span id="timerMinutes_00" class="timerNumber"></span></li>
					<li><span id="timerMinutes_01" class="timerNumber"></span></li>
					<!-- <li><span id="timerSeconds" class="timerNumber"></span></li> -->
				</ul>

				<ul id="timerCountdownLegend" class="text-right">
					<li><span  class="timerLegend">Days</span></li>
					<li><span  class="timerLegend">Hours</span></li>
					<li><span  class="timerLegend">Minutes</span></li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="container" id="whatIsContainer">	
			<h1 class="homeBigTitle text-center">What is the Tax Summit?</h1>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing. </p>
			<img src="/assets/img/digWorld2.png" class="center-block">

</div>

<div class="container-fluid customCentered" id="activitiesContainer">
	<h1 class="text-center homeBigTitle">Take a look at our activities</h1>
	<!-- Example row of columns -->
	<div class="row">
	  <div class="col-md-4">
		<img src="/assets/img/talks.png" class="center-block">
		<h2 class="text-center">Talks</h2>
		<p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	  </div>
	  <div class="col-md-4">
	    <img src="/assets/img/program.png" class="center-block">
		<h2 class="text-center">Program</h2>
		<p class="text-center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	 </div>
	  <div class="col-md-4">
		<img src="/assets/img/speakers.png" class="center-block">
		<h2 class="text-center">Speakers</h2>
		<p class="text-center">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  </div>
	</div>
</div>