<div class="jumbotron" id="jumboHome">
	<div class="container-fluid customCentered">
		<div class="row">
			<div class="col-md-6">
					
					<h1>Tax Summit</h1>
					<h2>{{ 'HOME_JUMBO_SLOGAN' | translate }}</h2>
			</div>
			<div class="col-md-6">
				<h3 class="text-right">{{ 'HOME_JUMBO_DATE' | translate }}</h3>

				<ul id="timerCountdownList" class="text-right">
					<li><span id="timerDays_00" class="timerNumber"></span></li>
					<li><span id="timerDays_01" class="timerNumber"></span></li>
					<li><span id="timerDays_02" class="timerNumber"></span></li><span class="timerDots">:</span>
					<li><span id="timerHours_00" class="timerNumber"></span></li>
					<li><span id="timerHours_01" class="timerNumber"></span></li><span class="timerDots">:</span>
					<li><span id="timerMinutes_00" class="timerNumber"></span></li>
					<li><span id="timerMinutes_01" class="timerNumber"></span></li>
					<!-- <li><span id="timerSeconds" class="timerNumber"></span></li> -->
				</ul>

				<ul id="timerCountdownLegend" class="text-right">
					<li><span  class="timerLegend">{{ 'HOME_JUMBO_DAYS' | translate }}</span></li>
					<li><span  class="timerLegend">{{ 'HOME_JUMBO_HOURS' | translate }}</span></li>
					<li><span  class="timerLegend">{{ 'HOME_JUMBO_MINUTES' | translate }}</span></li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="slantedDicussing">
		<div class="container-fluid customCentered">
			<div class="row">
				<div class="col-md-6">
					<img src="/assets/img/discussingFututre.png" class="center-block img-responsive">	
				</div>
				<div class="col-md-6">
					<h1>Discussing the future</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
				</div>
			</div>
	</div>
</div>


<div class="slantedJoinUs">
	<div class="container-fluid customCentered">
		<div class="row">
			<div class="col-md-6">
				<h1>Join us in Lisbon</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-md-6"><img src="/assets/img/digWorld2.png" class="center-block img-responsive" style="padding-bottom: 50px;"></div>
		</div>
	</div>
</div>