#headerNav {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-black {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

.nav>li>a {
    color: white; 
}

#headerNav li:last-child {
    margin-left: 100px;
}

#selectLanguage {
    background-color: #D0509C;
    border: none;
    color: white;
    margin-top: 8px;
    width:66px;
    height:34px;
}

#jumboHome {
    /* The image used */
    background-image: url("../img/sampleLisbon.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}