/* Load fonts */
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: BenchNine-Light;
    src: url(../fonts/BenchNine-Light.ttf);
}

@font-face {
    font-family: BenchNine-Regular;
    src: url(../fonts/BenchNine-Regular.ttf);
}

@font-face {
    font-family: BenchNine-Bold;
    src: url(../fonts/BenchNine-Bold.ttf);
}

.customCentered {
    max-width: 90% !important   ;
}

#headerNav {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-black {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

.nav>li>a {
    color: white;
}

#headerNav li:last-child {
    margin-left: 100px;
}

#selectLanguage {
    background-color: #D0509C;
    border: none;
    color: white;
    margin-top: 8px;
    width:66px;
    height:34px;
}

#jumboHome {
    /* The image used */
    background-image: url("../img/sampleLisbon.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumboHome h1 {
    font-size: 106px;
    font-family: BenchNine-Bold, sans-serif;
    color: #26ABE2;
    text-transform: uppercase;
}

#jumboHome h2 {
    font-size: 62px;
    font-family: BenchNine-Bold, sans-serif;
    color: #3F4756;
    text-transform: uppercase;
}

#jumboHome h3 {
    font-size: 38px;
    font-family: BenchNine-Bold, sans-serif;
    color: #3F4756;
    text-transform: uppercase;
}

.homeBigTitle {
    font-family: BenchNine-Bold, sans-serif;
    color: #00ADEE;
    margin-bottom: 50px;
    font-size: 50px;
}

#whatIsContainer {
    margin-bottom: 50px;
}

#whatIsContainer p {
    font-family: Roboto-Light, sans-serif;
    font-size: 27px;
    color: #7E888B;
}

#activitiesContainer h2 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 25px;
    color: #3F4756;
}

#activitiesContainer p {
    font-family: Roboto-Regular, sans-serif;
    font-size: 22px;
    color: #3F4756;
}


ul#timerCountdownList li {
    display: inline-block;
    background-color: #26ABE2;
    padding: 11px 17px 11px 17px;
    border-radius: 5px;
    margin-right: 15px;
}

ul#timerCountdownList li:last-child {
    margin-right: 0;
} 

ul#timerCountdownLegend li {
    display: inline-block;
}


.timerNumber {
    color: white;
    font-size: 38px;
    font-family: Roboto-Regular, sans-serif;
}

.timerLegend {
    color: white;
    font-size: 11px;
    margin-right: 90px;
    font-family: Roboto-Bold, sans-serif;
}

.timerDots {
    font-size: 30px;
    color: #26ABE2;
    position: relative;
    right: 5px;
}

.slantedDivA {
    margin-top:100px;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: transparent;
    box-sizing: border-box;
    padding-top: 50px;
}

.slantedDivA:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #D0509C;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: top right;
    transform: skewY(-4deg);
    z-index: -1;
}

.slantedDivB {
    margin-top: -90px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: transparent;
    box-sizing: border-box;
    padding-top: 70px;
    z-index: 1;
}

.slantedDivB:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: top right;
    transform: skewY(-4deg);
    z-index: -1;
}

.slantedDivC {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
    box-sizing: border-box;
    padding-top: 70px;
    z-index: 1;
    top: 56px;
}

.slantedDivC:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: top right;
    transform: skewY(-2deg);
    z-index: -1;
}

footer {
    height: 200px;
    padding-top: 100px;
    background-color: black;
}

footer nav li {
    color: white;
}

